h1 Hej #{username}, det här är din profil.

h2 Dina annonser: 
/ - adverts.each do |advert|
/     p = advert.title
/     p = advert.description
/     p = advert.price
/     p = advert.created_at
/     p = advert.updated_at
/     a href="/adverts/#{advert.id}" Visa
/     a href="/adverts/#{advert.id}/edit" Redigera
/     a href="/adverts/#{advert.id}" method="delete" Ta bort